# build output
dist/
.output/

# dependencies
node_modules/

# astro
.astro/

# vercel
.vercel/

# env
.env
.env.production
.env*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editors
.DS_Store
.idea/
.vscode/
